body{
	background-color: blue;
}

img{
	width:800px;
	filter: blur(17px);
}

@keyframes streamer {
    from  {
        background-position: 0 0;
    }
    to {
        background-position: -100% 0;
    }
}

div#pic{
	/*filter: blur(3px);*/
	border: dotted 1px black;
	background-color: red;
	background-size: 200% 100%;
    /*background-image: -webkit-linear-gradient(left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
	background-image:    -moz-linear-gradient(left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
	background-image:     -ms-linear-gradient(left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
	background-image:      -o-linear-gradient(left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,,0,0.9 ) 75%);*/
	background-image: -webkit-linear-gradient(left, red,yellow 12%, green 25%,yellow 37%, red 50%,yellow 62%, green 75%,yellow 87%, red 100%);

	width: 800px;
	height: 500px;
	animation: streamer 5s infinite linear;

	-webkit-background-clip: text;
	color: transparent;

	font-weight: bold;
	font-size: 10em;
}

div#pic::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0;
  border: 3px solid red;
  border-width: 0 3px;
  overflow: hidden;
  /*visibility: hidden;*/
  transition: all .8s;
  box-sizing: border-box;
}

div#pic::after {
  content: 's';
  position: absolute;
  left: 50%;
  top: 0;
  width: 0;
  height: 100%;
  border: 3px solid red;
  border-width: 30px 0;
  overflow: hidden;
  /*visibility: hidden;*/
  transition: all .8s;
  box-sizing: border-box;
}

body:hover .container {
  opacity: 1
}


body:hover .container::before {
  height: 100%;
  /*visibility: visible;*/
  top: 0;
}

body:hover .container::after {
  width: 100%;
  /*visibility: visible;*/
  left: 0;
}